
html, body {
	overflow-x: hidden;
	background: #fff;
}

h1, h2, p {
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f0f1f3;;
    margin: 1em 0;
    padding: 0; 
}

.container {
	width: 960px;
	margin: 0 auto;
}

.sectionTitle {
	font-size: 32px;
	font-weight: 300;
	text-align: center;

}

h2, .sectionSubTitle {
  position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  /*padding: .25rem 9999rem;*/
  background: #ecf0f1;
}

.sectionSubTitle {
	background-color: #ecf0f1;
	padding: 15px 0 15px 0;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

.sectionCopyright, .sectionDisclaimer {
	font-size: 12px;
	text-align: center;
}


/* BUTTON STYLES */

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 28px;
  background: #16ad0e;
  padding: 10px 40px 10px 40px;
  border: solid #16ad0e 2px;
  text-decoration: none;
}

.btn:hover {
  background: #169e0c;
  text-decoration: none;
}

/* CHEVRON */

.fa-angle-right {
	font-size: 28px;
}